
<!-- Text at top -->
       <div class="top">
         <p class="arrow">&#10094;</p>
         <p class="cont">Contacts</p>
         <p class="edit">Edit</p>
       </div>
<!-- Image -->
     <div class="img-container">
       <div class="img-contact"></div>
     </div>
<!-- My Name -->
       <div class="name-contact"><h3>Kito Clark</h3></div>
<!-- Blue icons & text -->
        <div class="icons-contact">

          <div><div class="icon-contact"><i class="fas fa-comment iconsSV-contact"></i></div><p class="icont">mesage</p></div>
          <div><div class="icon-contact"><i class="fas fa-phone fa-1x iconsSV-contact" data-fa-transform="flip-h"></i></div><p class="icont">call</p></div>
          <div><div class="icon-contact"><i class="fas fa-video fa-1x iconsSV-contact"></i></div><p class="icont">WhatsApp</p></div>
          <div><div class="icon-contact"><i class="fas fa-envelope fa-1x iconsSV-contact"></i></div><p class="icont">mail</p></div>
        </div>


     <main class="main-contact">
       <div class="contact-details"><p class="black">mobile</p><p>0447 129 723</p></div>
       <div class="contact-details"><p class="black">email</p><p>kitoclark1989@gmail.com</p></div>
     </main>

     <footer>
       <div class="bottombar-contact">
         <div><div class="icon-bb"><div class="fa fa-star"></div></div><p class="icont">Favourites</p></div>
         <div><div class="icon-bb"><div class="clock">&#9499;</div></div><p class="icont">Recents</p></div>
         <div><div class="icon-bb-i"><%= image_tag("contact_people_icon.png", class: "contact-people-i") %></div><p class="icont about-i-active">Contacts</p></div>
         <div><div class="icon-bb-i"><%= image_tag("contact-keypad-i.png", class: "contact-people-i") %></div><p class="icont">Keypad</p></div>
         <div><div class="icon-bb-i"><%= image_tag("contact-voicemail-i.png", class: "contact-people-i") %></div><p class="icont">Voicemail</p></div>
       </div>
     </footer>
