



        <div class="topicons">
          <div class="plus"></div>
          <div class="r-icons">
          <div class="S" ><i class="fas fa-search"></i></div>
          <div class="E"><p>Edit</p></div>
          </div>
        </div>
        <div class="album-word"><p>Albums</p></div>



<!-- This holds the html for the image section of the gallery -->
      <div class="albums">
        <div class="album"><div class="album-img"></div><h4>Camera Roll</h4><p>0</p></div>
        <div class="album"><div class="album-img"></div><h4>Favourites</h4><p>0</p></div>
        <div class="album"><div class="h"><div></div></div></a><h4>Hidden</h4><p>1</p></div>
      </div>

<!-- This is the bottom bar section -->
      <div class="bottombar">
        <div class="icons bbphotos"><p>Photos</p></div>
        <div class="icons bbmemories"><p>Memories</p></div>
        <div class="icons bbcloud"><p>Shared</p></div>
        <div class="icons bbgallery"><p class="bbgword">Albums</p></div>
      </div>
