

<div class="menu-buttons">
  <div class="gallery button-tile"></div>

  <div class="linkedin button-tile"><a href="https://www.linkedin.com/in/kito-clark-793029157/" target="_blank"></a></div>

  <div class="github button-tile"><a href="https://github.com/KitoC" target="_blank"></a></div>

  <div class="facebook button-tile"><a href="https://www.facebook.com/kitoclark1989" target="_blank"></a></div>


  <div class="contact button-tile bottom-tiles"><i class="fas fa-phone fa-2x iconSVG" data-fa-transform="flip-h down-4 right-4"></i><p>Contact</p></div>

  <div class="email button-tile bottom-tiles"><i class="fas fa-comment fa-2x iconSVG-hidden" data-fa-transform="down-4 right-4 grow-2"></i><p>Messages</p></div>
  <div class="about button-tile bottom-tiles"><i class="fas fa-envelope fa-2x iconSVG-hidden" data-fa-transform="down-4 right-4 grow-2"></i><p>About</p></div>
  <div class="portfolio button-tile bottom-tiles"><i class="fas fa-folder fa-2x iconSVG" data-fa-transform="down-4 right-4 grow-2"></i><p>Portfolio</p></div>
</div>

<div class="blur_bg">
<div class="blur_effect"></div>
</div>
