<div class="binarygrid">
         <div class="binary">
           <h2 class="n k m">K</h2>
           <h2 class="bin k">01001011</h2>
           <h2 class="n i">I</h2>
           <h2 class="bin i">01101001</h2>
           <h2 class="n t">T</h2>
           <h2 class="bin t">01110100</h2>
           <h2 class="n o">O</h2>
           <h2 class="bin o">01101111</h2>
         </div>
         <div class="binarylast">
           <h2 class="n c">C</h2>
           <h2 class="bin c">01000011</h2>
           <h2 class="n l">L</h2>
           <h2 class="bin l">01101100</h2>
           <h2 class="n a">A</h2>
           <h2 class="bin a">01100001</h2>
           <h2 class="n r">R</h2>
           <h2 class="bin r">01110010</h2>
           <h2 class="n bro">K</h2>
           <h2 class="bin bro">01101011</h2>
         </div>

         <div class="Iam">
           <b>
              <div class="scroll">
               WEB DEVELOPER.<br />
               PROGRAMMER.<br />
               CREATIVE.<br />
               ENTREPENEUR.<br />
               KIND COOL GUY.
               </div>
          </b>
        </div>
       </div>