

<div class="polaroid-heading">
  <h3>Click a photo to take a closer look.</h3>
</div>

<div class="polaroid-container">
  <div class="polaroids-t">

   <div class="polaroid-l">
      <div class="polaroid-pin"></div>
      <div class = "polaroid-img"
      style = "background-image: url('assets/Alpine2.jpg');" >
      </div>
      <p class="texta">Test</p>
    </div>




  </div>

  <div class="polaroids-b">
  
 


  </div>
</div>
