

<div class=project-overlay>
<p class="project-close-b">&times;</p>
<div class="project-images"></div>
<div class="image-dir"><p class="i-one">&#9679;</p><p class="i-two">&#9679;</p><p class="i-three">&#9679;</p></div>
<div class="project-text"></div>
</div>