@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
// Breakpoints
$phone_plus-size: 600px;
$phone_normal: 375px;
$phone_5: 320px;
// colors
$manila-f: #F8F5E1;
$dark-grey: rgb(51,
51,
51);
$border_grey: #e3e3e3;
$opaque_white: rgba(255, 255, 255, 0.95);
$opaque_white2: rgba(255, 255, 255, 0.5);
$project_bg: rgba(2, 2, 2, 0.50);
$icon-grey: #a1a1a1;
$menu-grey: #f9f9f9;
$menu-line-grey: #b3b3b3;
$invis_bg: rgba(0,0,0,0)